<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="row">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">

            </div>
            <div class="portlet-body">
                <div class="pricing-content-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="price-column-container border-active">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
