<!-- BEGIN MAIN CONTENT -->
<div ng-controller="IdentityController">
    <div class="row">
        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">

                </div>
            </div>
            <div class="portlet-body">
                <div class="pricing-content-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="price-column-container border-active">
                                <div class="price-table-head bg-yellow-gold">
                                    <h2 class="no-margin">Form Filling</h2>
                                </div>
                                <div class="arrow-down border-top-yellow-gold"></div>
                                <div class="price-table-pricing">

                                </div>
                                <div class="price-table-content">
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" class="btn dark price-button sbold uppercase" ng-click="authenticate('orange')">Sign Up </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-column-container border-active">
                                <div class="price-table-head bg-yellow-gold">
                                    <h2 class="no-margin">Check ID</h2>
                                </div>
                                <div class="arrow-down border-top-yellow-gold"></div>
                                <div class="price-table-pricing">

                                </div>
                                <div class="price-table-content">
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" class="btn dark price-button sbold uppercase" ng-click="authenticate('orange')">Sign Up </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-column-container border-active">
                                <div class="price-table-head bg-yellow-gold">
                                    <h2 class="no-margin">Location Check</h2>
                                </div>
                                <div class="arrow-down border-top-yellow-gold"></div>
                                <div class="price-table-pricing">

                                    <div class="price-ribbon">soon</div>
                                </div>
                                <div class="price-table-content">
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                    <div class="row mobile-padding">

                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <button type="button" disabled class="btn dark price-button sbold uppercase" ng-click="authenticate('orange')">Sign Up </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
