<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">

  <div class="row">
    <div class="col-md-12">
      <div class="portlet light portlet-fit ">
        <div class="portlet-title">
          <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green bold uppercase">OIDC</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="mt-element-step" ng-repeat="user in users">
            <div class="row step-line">
              <div class="mt-step-desc">
                <div class="font-dark bold uppercase">4 Steps Line</div>
                <div class="caption-desc font-grey-cascade"> 4 Steps Numbered Line element style. Activate by adding
                  <pre class="mt-code">.step-line</pre>
                  class to the
                  <pre class="mt-code">.row</pre>
                  element.
                  <pre class="mt-code">.first</pre>
                  and
                  <pre class="mt-code">.last</pre>
                  classes are required to be added into
                  <pre class="mt-code">.mt-step-col</pre>
                  to indicate the first and last step.
                </div>
                <br/></div>
              <div class="col-md-4 mt-step-col first done">
                <div class="mt-step-number bg-white">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Authorization request</div>
                <div class="mt-step-content font-grey-cascade">Time Authorization :{{user.auth_time}}</div>
                <div class="mt-step-content font-grey-cascade">Scope :{{user.scope}}</div>
                <div class="mt-step-content font-grey-cascade">Authorization Code :{{user.auth_code}}</div>
              </div>
              <div class="col-md-4 mt-step-col done">
                <div class="mt-step-number bg-white">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Authentication & Consent</div>
                <div class="mt-step-content font-grey-cascade">User ID :{{user.sub}}</div>
                <div class="mt-step-content font-grey-cascade">Access Token :{{user.access_token}}</div>
                <div class="mt-step-content font-grey-cascade">Access Token exp :{{user.exp}}</div>
              </div>
              <div class="col-md-4 mt-step-col last">
                <div class="mt-step-number bg-white">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Launch</div>
                <div class="mt-step-content font-grey-cascade">Lorem ipsum dolor sit amet</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
  Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
